
.welcome {
    text-align: center;
}

.welcomeTitle {
    font-size: 100px;
}

.inputRobot {
    width: 700px;
    height: 40px;
    border-radius: 22px;
    font-size: 16px;
    font-style: bold;
    font-family: Roboto;
    color: gray;
    text-indent: 20px;
    margin-bottom: 15px;
}

.btnRobot {
    width: 80px;
    height: 40px;
    border-radius: 22px;
    margin-left: 10px;
    font-size: 16px;
    font-style: bold;
    font-family: Roboto;
    color: #34495e;
    background-color:#e1b137;
}

.nbRound {
    width: 80px;
    height: 40px;
    margin-left: 10px;
    font-size: 16px;
    font-style: bold;
    font-family: Roboto;
    color: #34495e;
}